# Environment Variables for LEENA CEYLON
DATABASE_URL="file:./dev.db"
JWT_SECRET="leena-ceylon-super-secure-jwt-secret-key-2026"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP_NUMBER="071 777 4717"
